{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block bodya %}
    <div class="row">&nbsp;</div>
    <a class="btn btn-primary" href="{{ path('question_index') }}">Zerrendara itzuli</a>

    <a class="btn btn-primary" href="{{ path('question_edit', {'id': question.id}) }}">Aldatu</a>

    <hr>

            <section class="jumbotron text-center">
                <div class="container">
                    <p class="lead text-muted">{{ question.name }}</p>
                    <ol type="A">
                        {% for a in question.answers %}
                            <li >
                                <a href="#" class="erantzuna" data-balioa="{{ a.correct }}">{{ a }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </section>
            <hr>

            <section class="text-center" id="divEmaitza">
                <div class="divZuzena">
                    <span style='font-size:100px;'>&#128526;</span>
                </div>
                <div class="divOkerra">
                    <span style='font-size:100px;'>&#128534;</span>
                </div>
            </section>




    {{ include('question/_delete_form.html.twig') }}
{% endblock %}
