{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block main %}

    {% for quizz in quizzes %}
        <div class="row">
            <div class="col-sm">&nbsp;</div>
            <div class="col-sm" id="divPagination" style="display: none">
                {{ knp_pagination_render(quizzes, null, {}, {
                    'position': 'right',
                    'size': 'large',
                    'rounded': true,
                }) }}
            </div>
            <div class="col-sm">&nbsp;</div>
        </div>
        <section class="jumbotron text-center">
            <div class="container">
                <h2>{{ quizz.question.name }}</h2>
                <ol type="A" class="text-left">
                    {% for a in quizz.question.answers %}
                        <li >
                            <a href="#" class="erantzuna" data-question="{{ a.question.id  }}" data-id="{{ quizz.id }}" data-balioa="{{ a.correct }}">{{ a }}</a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </section>

        <hr>


    {% endfor %}

{% endblock %}
