{% extends 'base.html.twig' %}

{% block title %}:: IkasPlay ::{% endblock %}

{% block main %}

    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-sm">&nbsp;</div>
        <div class="col-sm" id="divPagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-lg justify-content-center">
                    <li class="page-item  {% if isFirst %} disabled {% endif %}">
                        <a class="page-link" href="{{ path('quizz_index', { 'direction': 'previous', 'miid' : quizz.id, 'repaso': repaso }) }}">Aurrekoa</a>
                    </li>
                    <li class="page-item text-center">
                        <div class="emoZuzena" style='font-size:37px;display: none'>&#128526;</div>
                        <div class="emoOkerra" style='font-size:37px;display: none'>&#128534;</div>
                    </li>
                    <li class="page-item {% if isLast %} disabled {% endif %}">
                        <a class="page-link" href="{{ path('quizz_index', { 'direction': 'next', 'miid' : quizz.id, 'repaso': repaso }) }}">Hurrengoa</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm">&nbsp;<div class="text-center"><small>Familia: {{ quizz.question.familly.name }}</small></div></div>
    </div>



    <section class="jumbotron">

        <div class="container">
            <h2>{{ quizz.question.name | capitalize}}</h2>
            <ol type="A" class="text-left">
                {% for a in quizz.question.answers %}
                    <li >
                        <a href="#" class="erantzuna" data-question="{{ a.question.id  }}" data-id="{{ quizz.id }}" data-balioa="{{ a.correct }}">{{ a }}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </section>

    <div class="row">
        <div class="col-sm">
            <a href="#" id="quiestionid" data-id="{{ quizz.question.id }}" class="{% if quizz.question.problem == 1 %}incorrect_quizz{% endif %}">
                <small>{{ 'Quizz id:' ~ quizz.id }}</small>
            </a>
        </div>
        <div class="col-sm"><small>{{ 'Galderak:' ~ quizzTotal }}</small></div>
        <div class="col-sm"><small>{{ 'Zuzen:' ~ quizzCorrect }}</small></div>
        <div class="col-sm"><small>{{ 'Oker:' ~ quizzInCorrect }}</small></div>
        <div class="col-sm"><small>{{ 'Falta dira:' ~ quizzUnAnswered }}</small></div>
    </div>


{% endblock %}
