{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}:: IkasPlay ::{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/app') }}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body id="{% block body_id %}{% endblock %}">
<header>
{% block header %}
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">IkasPlay</h4>
                    <p class="text-muted">Oposaketak test-ak egiten ikasteko lagungarria den aplikazioa.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Kontaktua</h4>
                    <ul class="list-unstyled">
                        <li><a href="http://twitter.com/ikerib" target="_blank" class="text-white">@ikerib twitter-en</a></li>
                        <li><a href="http://github.com/ikerib" target="_blank" class="text-white">Kodea eskuragarri</a></li>
                        <li><a href="mailto:ikerib@gmail.com" class="text-white">Emaila</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="{{ path('default') }}" class="navbar-brand d-flex align-items-center">
                <strong>IkasPlay</strong>
            </a>
            <a href="{{ path('quizz_index') }}">Questions</a>
            <a href="{{ path('familly_index') }}">Familly</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
{% endblock %}
</header>
{% block main_body %}
<main role="main">
    {% block bodya %}
            <div id="main" class="col-sm-12">
                {{ include('default/_flash_messages.html.twig') }}

                {% block main %}{% endblock %}
            </div>

{#            <div id="sidebar" class="col-sm-3">#}
{#                {% block sidebar %}#}
{##}
{#                {% endblock %}#}
{#            </div>#}

    {% endblock %}
</main>
{% block footer %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('collection') }}
{% endblock %}
{% endblock main_body %}
</body>
</html>
